-content_for :menu do
  #menu
    %ul
      %li= link_for_date 'Previous Day', @date - 1.day
      %li= link_for_date('Today', Date.today) unless @date == Date.today
      %li= link_for_date 'Next Day',  @date + 1.day
/ .entry
/   .entry-message
/     ="Here are all the messages for #{@channel.name}"
/     %div= @date
#heading-message="Here are all the messages for #{@channel.name} on #{@date}"
= render :partial => @messages